.row
  .span6
    .well
      %form.form-horizontal#input_form
        - @attributes.each do |attribute|
          .control-group
            %label.control-label= attribute[:title]
            .controls
              %input{:type => 'text', :class => 'span2', :placeholder => attribute[:default], :id => attribute[:key], :name => "attrs[#{attribute[:key]}]"}
              - if attribute[:hint]
                %p.help-block= attribute[:hint]

  .span6
    .well
      %textarea#hello_world.span4{:placeholder => 'Hello world!!'}

%form.well
  %textarea#code{:placeholder => 'Your Brainfuck code'}
