!!! 5
%title self-fuck
%link{:rel => 'stylesheet', :href => '/bootstrap/css/bootstrap.css', :type => 'text/css'}
.container
  %header
    %h1 self-fuck
    %p Generate your own brainfuck-like language!

  %section
    != yield

